*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
  outline: 0;
}

html {
  line-height: 1.5;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Noto Sans', Roboto, Oxygen, Cantarell, 'Fira Sans', 'Liberation Sans',
    'Droid Sans', Ubuntu, 'PingFang SC', 'Noto Sans CJK SC', 'Noto Sans SC',
    'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei',
    'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}
